body {
    font-family: Arial, sans-serif;
    background-color: #96cdee;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


}
.BG-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  margin: auto;
  width: 50%;
  border: 3px solid #0a296b;
    background-color: #809ea8;
    height: 100%;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.download-btn {
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.download-btn:hover {
    background-color: #0056b3;
}

.strand {
  position: relative;
  width: 15px;
  height: 40px;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.top, .bottom{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 12px;
  border-radius: 100%;
  animation: 3s move infinite ease-in-out;
}

@keyframes move {
  0% {
    background-color: #599beb;
    top: 100%;
    z-index: -3;
  }
  25% {
    height: 8px;
    width: 8px;
    background-color: #6393e0;
    z-index: -3;
  }
  50% {
    background-color: #7ecaed;
    top: 0%;
    z-index: -3;
  }
  75% {
    height: 12px;
    width: 12px;
    background-color: #4579cc;
    z-index: 3;
  }
  100% {
    top: 100%;
    background-color: #2b84f0;
    z-index: 3;
  }
}