<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <p>{{ tfa }}: <input type="text" id="tfaInput"> <button onclick="checkTFA()">Submit</button></p>

    <script>
        function checkTFA() {
            var tfaInput = document.getElementById("tfaInput").value;
            var tfaAnswer = "{{ tfaAnswer }}";

            if (tfaInput === tfaAnswer) {
                window.location.href = "mainpage.html";
            } else {
                alert("Incorrect TFA. Please try again.");
            }
        }
    </script>
</body>
</html>